.home-link {
  margin-left: -15px;
  padding: 5px 0;
}
.search-form {
  .form-control {
    background-color:rgba(255,255,255,0.5);
    border:none;
  }
  .btn-search {
    background-color:rgba(255,255,255,0.5);
    margin-left:0 !important;
  }
}
.logo{
  background: transparent url('../images/yakima.png') -60px 0px no-repeat;
  position: relative;
  a {
    width: 100%;
    height: 190px;
    display: block;
  }
  span {
    position: absolute;
    top: 145px;
    left: 470px;
    font-size: 26px;
    font-weight: 500;
    line-height: 26px;
    color: #fff;
    text-shadow: 4px 4px 10px #000;
  }
}
.nav>li {
  text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
  color: #000;
}
.nav>li>a {
  color: #000;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  border:none;
  padding: 15px 0px;
}
.nav>li>a>img {
  display: none;
}
.dropdown-menu {
  text-align: right;
  border: none;
  border-radius: none;
  font-size: 16px;
  padding: 0;
  width: 100%;
}
.dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #000;
  padding: 10px;
  text-align: right;
}
.dropdown-menu>.active>a {
  background: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #fff;
  background: transparent;
}
.caret {
  display: none;
}
.menu-taste .dropdown-menu, 
.navbar-default .navbar-nav .menu-taste.open .dropdown-menu>li>a
.navbar-default .navbar-nav .menu-taste.open .dropdown-menu>li>a:focus{
  background: lighten(@taste, 13.5%);
}
.menu-play .dropdown-menu {
  background: lighten(@play, 13.5%);
}
.menu-shop .dropdown-menu {
  background: lighten(@shop, 13.5%);
}
.menu-stay .dropdown-menu {
  background: lighten(@stay, 13.5%);
}
.menu-see .dropdown-menu {
  background: lighten(@see, 13.5%);
}
//MEDIA QUERIES
@media (min-width: @screen-sm-min) {
  .search-form {
    margin-top:10px;
  }
  .logo {
    background: transparent url('../images/yakima.png') top left no-repeat;
    background-size: cover;
    a {
      width: 100%;
      height: 260px;
      display: block;
    }
  }
  .navbar-default{
    border: none;
    background: transparent;
  }
  .navbar {
    .container {
      padding: 0;
    }
    .nav {
      margin: 0;
      width: 100%;
    }
    .nav>li {
      display: table-cell;
      width: 1%;
      float: none;
      text-transform: uppercase;
    }
    .nav>li>a {
      color: #000;
      font-weight: normal;
      font-size: 25px;
      text-align: left;
      border:none;
      margin-right:15px;
      padding: 0px 0 0 0px;
    }
    .nav li:last-child a {
      margin-right: 0px;
    }
    .nav>li>a>img {
      display: inline;
      position: relative;
      z-index: 1001;
    }
  }
}
@media (min-width: @screen-md-min) {
  .nav>li>a>img {
    width: auto;
    height: auto;
    margin: -7px 5px 0 0;
  }
  .nav>li>a {
    height: 67px;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .nav>li>a>img {
    width: 56px;
    height: 48px;
    margin: -4px 0 0 0;
  }
  .navbar .nav>li>a {
    height: 40px;
  }
}